development:
  REDIS_URL: 'redis://localhost:6379'

test:
  REDIS_URL: 'redis://localhost:6379'

staging:
  REDIS_URL: 'redis://localhost:6379'

production:
  REDIS_URL: 'redis://localhost:6379'

  ActionMailer::Base.smtp_settings = {
    user_name: 'your_sendgrid_username',
    password: 'your_sendgrid_password',
    domain: 'yourdomain.com',
    address: 'smtp.sendgrid.net',
    port: 587,
    authentication: :plain,
    enable_starttls_auto: true
  }
