development:
  REDIS_URL: 'redis://localhost:6379'
  ROLLBAR_TOKEN: 'token'

  smtp_data:
    address: localhost
    port: 1025
    domain: yourdomain.com

test:
  REDIS_URL: 'redis://localhost:6379'
  ROLLBAR_TOKEN: 'token'

  smtp_data:
    address: localhost
    port: 1025
    domain: yourdomain.com

staging:
  REDIS_URL: 'redis://localhost:6379/1'
  ROLLBAR_TOKEN: 'token'

  smtp_data:
    user_name: your_sendgrid_username
    password: your_sendgrid_password
    domain: yourdomain.com
    address: smtp.sendgrid.net
    port: 587
    authentication: plain
    tls: true

production:
  REDIS_URL: 'redis://localhost:6379/0'
  ROLLBAR_TOKEN: 'token'

  smtp_data:
    user_name: your_sendgrid_username
    password: your_sendgrid_password
    domain: yourdomain.com
    address: smtp.sendgrid.net
    port: 587
    authentication: plain
    tls: true
